body {
    background: #EBA981;
}

#elipse-blue {
    background-color: #466EFB;
}

#elipse-red {
    background-color: #D04A4A;
}

#elipse-green{
    background-color: #9AE162;
}

#elipse-cyan {
    background-color: #88F9D4;
}

#elipse-pink {
    background-color: #E166F5;
}
